@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Section de l'en-tête */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    background: url('../image/font.jpg'), no-repeat;
    background-size: cover;
}

.logo {
    position: relative;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    left: 1%;
    top: 40%;
}

/* Box */

.boxMiddle {
    width: 90%;
    top: 80%;
    left: 5%;
    right: 5%;
    bottom: 12%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(40px);
    background: transparent;
    display: flex;
    padding: 1% 4% 1% 4%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.boxTop {
    width: 90%;
    top: 6%;
    left: 5%;
    right: 5%;
    bottom: 22%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(40px);
    background: transparent;
    display: flex;
    padding: 1% 4% 1% 4%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.boxBottom {
    width: 90%;
    bottom: 2%;
    left: 5%;
    right: 5%;
    position: fixed;
    align-items: center;
    backdrop-filter: blur(40px);
    background: transparent;
    display: flex;
    padding: 1% 4% 1% 4%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.gentileBottom {
    width: 100%;
    align-items: center;
}

/* Button */

.btn {
    width: 20%;
    padding: 10px 25px;
    border: 2px solid #d6d6d6;
    background: transparent;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    transition: .5s;
    word-wrap: break-word
}

.btn:hover {
    background: #162938;
    color: #fff;
}

/* Button Response */
.btn-grey {
    width: 20%;
    padding: 10px 25px;
    border: 2px solid #d6d6d6;
    background: #777777;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    transition: .5s;
    word-wrap: break-word
}

.btn-green {
    width: 20%;
    padding: 10px 25px;
    border: 2px solid #d6d6d6;
    background: #00ff00;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    transition: .5s;
    word-wrap: break-word
}

.btn-red {
    width: 20%;
    padding: 10px 25px;
    border: 2px solid #d6d6d6;
    background: #ff0000;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    transition: .5s;
    word-wrap: break-word
}

/* Button Next */

.btnNext {
    width: 90%;
    padding: 10px 25px;
    border: 2px solid #d6d6d6;
    background: transparent;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    transition: .5s;
    word-wrap: break-word
}

.btnNext:hover {
    background: #162938;
    color: #fff;
}

.btnBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btnBoxNext {
    width: 20%;
}

/* Image */

.img {
    width:100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}


/* Text */

.text {
    color: #fff;
    word-wrap: break-word
}