    <div class="boxMiddle"><text class="text">City = {{ City }}
        </text>
    </div>
    <div class="boxBottom">
        {% for gentile in gentiles %}
            <button class="btn">{{ gentile }}</button>
        {% endfor %}
        <button class="btn">next</button>
    </div>